body {
    padding-top: 60px;
    padding-bottom: 70px;
}

.jumbotron {
    margin-top: 20px;
}

.well {
    background-color: #0df6fa;
    border: 1px solid #033f7b;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.label-info {
    background-color: #e6790c;
}

.btn-warning {
    background-color: #e90707f5;
    border-color: #e21d8a;
    color: #b7d6e5;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}


.navbar-nav {
    margin-left: auto;
}